<md-dialog aria-label="Detail Price">
  <form>
    <md-toolbar ng-style="styleD">
      <div class="md-toolbar-tools">
        <h2>Detail Permintaan</h2>
        <span flex></span>
        
        <md-button class="md-icon-button" ng-click="cancel()">
        	<md-tooltip md-direction="bottom">
          close
        </md-tooltip>
          <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content layout="column" style="max-width:500px;max-height:810px;width:400px;">
      <md-content>
      <md-list layout-padding>
       	     <md-list-item class="md-2-line" >
	          <md-icon class="material-icons">label</md-icon>
	     
	          <div class="md-list-item-text">
	            <h3>{{detailP.jenis.namaJenis}}</h3>
	            <p>item diminta</p>
	          </div>
	
	        </md-list-item>

	        <md-list-item class="md-2-line" >
	          <md-icon class="material-icons"></md-icon>
	     
	          <div class="md-list-item-text">
	            <h3>{{detailP.jumlah}}</h3>
	            <p>jumlah</p>
	          </div>
	
	        </md-list-item>

	         <md-list-item class="md-2-line" >
	          <md-icon class="material-icons"></md-icon>
	     
	          <div class="md-list-item-text">
	            <h3>{{getKotamaName(detailP.from)}}</h3>
	            <p>dari</p>
	          </div>
	
	        </md-list-item>

	         <md-list-item class="md-2-line" ng-if="detailP.darurat">
	          <md-icon class="material-icons"></md-icon>
	     
	          <div class="md-list-item-text" style="color:red">
	            <h3 style="color:red">DARURAT</h3>
	            <p>status</p>
	          </div>
	
	        </md-list-item>

	        <md-list-item class="md-2-line" ng-if="detailP.catatan">
	          <md-icon class="material-icons"></md-icon>
	     
	          <div class="md-list-item-text" style="color:red">
	            <h3 >{{detailP.catatan}}</h3>
	            <p>catatan</p>
	          </div>
	
	        </md-list-item>

	         <md-list-item class="md-2-line" >
	          <md-icon class="material-icons"></md-icon>
	     
	          <div class="md-list-item-text" style="color:red">
	            <h3 >{{detailP.sisaItem}}</h3>
	            <p>item tersedia</p>
	          </div>
	
	        </md-list-item>

	  
	        <md-divider></md-divider>
		         
		          <md-list-item class="md-1-line" ng-if="isShown">
		          <md-icon class="material-icons"></md-icon>
		          <div class="md-list-item-text">
		            <a class="clickable" ng-click="kirimkanalusista()">Kirimkan alusista</a>
		          </div>
		        </md-list-item>

		         <md-list-item class="md-1-line" ng-if="isShown">
		          <md-icon class="material-icons"></md-icon>
		          <div class="md-list-item-text">
		            <a class="clickable" ng-click="tolakPermintaan()">Tolak permintaan</a>
		          </div>
		        </md-list-item>

       </md-list>
       </md-content>
      	 
    </md-dialog-content>
    
  </form>
</md-dialog>